[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "regcensus"]
	path = regcensus
	url = https://github.com/quantgov/regcensus-api-r
